---
// Styled by Tailwind :)
---
<details class="p-4 bg-indigo-100 dark:bg-indigo-800">
  <summary class="pb-2">
    <span class="font-bold">Senior front-end developer, full-stack developer, tech lead, JavaScript lover and Bologna JS Community Organizer</span> with more than 10 years of experience in multinational companies...
  </summary>

  <p class="pb-2">
  After successfully completing my Master’s Degree in Computer Science at the University of Bologna, I worked for 3 years as full-stack developer at <a class="text-indigo-900 dark:text-indigo-300" href="https://www.cineca.it/" title="CINECA website">CINECA</a> creating PHP and JQuery web app for pharma industries.</p>

  <p class="pb-2">
  From 2011 and 2020 I worked in the technology department of <a href="https://www.ynap.com/" class="text-indigo-900 dark:text-indigo-300" title="YNAP website">YOOX NET-A-PORTER GROUP</a>, a multinational e-commerce company selling for fashion and luxury. There I learned a lot of things about front-end, agile, working in a team and colaborating with a lot of teams, coding, mentoring. After 2 years I join a tech lead position, creating a new team, managing and continuing evolving with the company.
  </p>

  <p class="pb-2">
  From 2020 for one year I worked in <a class="text-indigo-900 dark:text-indigo-300" href="https://www.monrif.it/" title="Monrif website">Monrif<a/>, a company that manages 5 newspaper and a lot of digital initiatives. We rewrited the front-end platform for the newspapers online with Typescript, React, Next.js and SSR. 
  There I learned a lot about React, Next.js, Typescript and I was involved in all the processes from the design to the realizazion with a new team and a new techinologies for that company.
  For that project I was tech lead, developer but also organize all things around the project with designer, agile process, ci/cd and work also to some API adjustments.
  </p>

  <p class="pb-2">
  From 2021 I worked for <a class="text-indigo-900 dark:text-indigo-300"href="https://www.paramount.com/" title="Paramount website">Paramount</a> as a full-remote consultant, in the network streaming area. I'm a senior React developer and we develop the website for <a href="https://www.channel5.com/" title="Channel5 website" class="text-indigo-900 dark:text-indigo-300">Channel5 (UK)<a/> with live and on-demand contents.
  I work in an international team, working with a lot of teams sharing a codebase for about 40 entertainement websites. I learn a lot every day working in a huge monorepo within a modern and positive environment.
  </p>

  <p class="pb-2">During my free time, I organize the <a href="https://www.bolognajs.com/" title="Bologna JS website" class="text-indigo-900 dark:text-indigo-300">Bologna JavaScript Community</a> in order to keep myself and other JavaScript lovers updated on touch through talks, workshops and events.
  I have a lot of passions but I like to keep updated on code, framework, techniques, reading a lot and trying to build something with code!
  </p>

  <p class="pb-2">My strengths: Node.js, React.js, Unit testing, Next.js, work in a team and for a team, keeping people together because my motto is: "our work is funny and hard, keep it funny and work hard".</p>
  </p>
</details>
