---
import { Markdown } from 'astro/components';
import { covers as data } from '../data/cover.js';
---
<details class="p-4 bg-indigo-100 dark:bg-indigo-800 md-content">
  <summary class="pb-2"><Markdown>{data.summary}</Markdown></summary>
  {data.paragraphs.map(paragraph => <p class="pb-2"><Markdown>{paragraph}</Markdown></p>)}
</details>