---
export interface Props {
	title: string;
}
const { title } = Astro.props;
---
<style>
  header::after {
    position: absolute;
    left: 0;
    top: 0.7em;
    height: 1px;
    background: #ccc;
    content: "";
    width: 100%;
    z-index: -1;
    display: block;
  }
</style>
<section class="mt-4">
  <header class="relative">
    <h2 class="text-indigo-900 text-xl condensed bg-white mr-4 z-1 pr-2 inline-block dark:text-indigo-100 dark:bg-black">
      {title.toUpperCase()}
    </h2>
  </header>
  <slot />
</section>