---
---

<button
  class="switch-theme w-4 h-4"
  aria-label="switch theme color"
  title="switch theme color"
>
  <i class="fa-solid fa-circle-half-stroke w4"></i>
</button>

<script>
  document.body.querySelector(".switch-theme").addEventListener("click", () => {
    const html = document.querySelector("html");
    if (html.classList.contains("dark")) {
      html.classList.remove("dark");
    } else {
      html.classList.add("dark");
    }
  });
</script>
